.listContainer {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}
.carItem {
  width: 30%;
}

.postLit h2 {
  font-size: 2rem;
  margin: 20px 20px;
}

.loading {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  border: 1px solid #d8d5d5;
  margin: 10px;
  border-radius: 5px;
}
.headerCard,
.contentFooter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.headerCard h2 {
  font-size: 1.7rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.contentCard {
  min-height: 150px;
  max-height: 150px;
  overflow: hidden;
  background-color: #e2e2e2;
}

.contentCard img {
  width: 100%;
}