.newPost h2 {
  font-size: 2rem;
  margin: 20px 10px 0px;
}

.postContainer {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin: 20px 0;
}

.loading {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.itemPost {
  width: 50%;
}

.card h3 {
  font-size: 1.8rem;
}

.card {
  border: 1px solid #d8d5d5;
  margin: 10px;
  padding: 20px 10px;
  border-radius: 5px;
}