.card {
  border: 1px solid #d8d5d5;
  margin: 10px auto;
  padding: 30px 20px;
  border-radius: 5px;
  width: 600px;
}

.cardHeader h2 {
  font-size: 2rem;
  margin: 20px;
}

.loading {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contentImage {
  width: 100%;
  display: flex;
  justify-content: center;
}

.contentImage img {
  width: 100px;
  border-radius: 50%;
  min-height: 100px;
  max-height: 100px;
  overflow: hidden;
  background: #e2e2e2;
}

.contentUser h2 {
  font-size: 1.8rem;
}

.contentUser li {
  margin: 10px 0;
}

.contentUser span {
  font-weight: 700;
}

.contentDetail {
  display: flex;
  flex-direction: column;
}
