.sideNavContentOpen {
  position: absolute;
  top: 56px;
  right: 0;
  width: 300px;
  height: calc(100% - 56px);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 10px, rgba(0, 0, 0, 0.23) 0px 3px 10px;
  border-radius: 0px;
  transition: all 0.2s linear;
  z-index: 10 !important;
}

.close {
  width: 0;
}

.listContainer {
  overflow-y: auto;
  height: calc(100% - 46px);
  background: #FAFAFA;
  max-height: calc(100% - 46px);
}

.headerBar {
  padding: 15px 10px;
  background-color: #212121;
  color: #FAFAFA;
}

.backdrop {
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  background-color: rgba(27, 27, 27, 0.7);
  z-index: 2 !important;
}

.none {
  display: none;
}