.newPost h2 {
  font-size: 2rem;
  margin: 20px 10px 0px;
}

.dropzone p {
  padding: 10px;
}

.dropzone > div {
  height: 100px !important;
  width: 100% !important;
  cursor: pointer;
}

.dropzone h4 {
  font-size: 1.3rem;
  margin: 10px 0;
}

.dropzone li {
  padding: 10px 0;
}

.postContainer {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin: 20px 0;
}

.itemPost {
  width: 50%;
}

.card h3 {
  font-size: 1.8rem;
}

.card {
  border: 1px solid #d8d5d5;
  margin: 10px;
  padding: 20px 10px;
  border-radius: 5px;
}