.navContainer {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  background-color: #212121;
  color: #FAFAFA;
  max-height: 56px;
  z-index: 6;
}

.listItem {
  padding: 15px 10px;
  transition: all .2s linear;
  color: #212121;
}
.active .listItem {
  background-color: rgba(218, 218, 218, 0.81);
}
.listItem:hover {
  background-color: rgba(218, 218, 218, 0.81);
}

.languague {
  margin: 10px;
  text-align: right;
}

.itemBrand {
  padding: 20px 0;
  color: #FAFAFA;
}

.itemBrand h2 {
  color: #FAFAFA;
}

.itemMenu {
  position: absolute;
  right: 0;
  padding: 19px 15px 20px;
  top: 0px;
  cursor: pointer;
  transition: all .3s linear;
}

.itemMenu:hover {
  background-color: rgb(70, 69, 69);
}